parameters:
	k1: v1
	k2: v2
services:
	- Mrtnzlml\Tests\Service4
	named: Mrtnzlml\Tests\Service1
extensions:
	ext2: Mrtnzlml\Tests\CustomExtension2
	ext3: Mrtnzlml\Tests\ExtensionEmptyConfig
ext1: # \Mrtnzlml\Tests\CustomExtension1
	numericExtensionParameter: 159753
	falseExtensionParameter: no
	nullExtensionParameter: NULL
ext2:
	ek1: ev1
	ek2: ev2
application:
	mapping:
		*: *
