parameters:
	k1: v1
	k2: v2

services:
	- Adeira\Tests\Service4
	named: Adeira\Tests\Service1

extensions:
	ext1: Adeira\Tests\CustomExtension1
	ext2: Adeira\Tests\CustomExtension2
	ext3: Adeira\Tests\ExtensionEmptyConfig

ext1:
	numericExtensionParameter: 159753
	falseExtensionParameter: no
	nullExtensionParameter: NULL

ext2:
	ek1: ev1
	ek2: ev2

application:
	scanDirs: no
	mapping:
		*: a\*b\*c
